<div class="email-container">
	<p class="msg-intro">Send a message to<br/><span class="email-rep-name">{{vm.rep.name}}</span><br/>{{vm.rep.office.name}}</p>
	<form>
      <div class="form-group">
        <input ng-model="vm.email.from" type="text" class="form-control email-form" id="inputEmail" placeholder="Enter your Email address">
    </div>
    <div class="form-group">
        <input ng-model="vm.email.subject" type="text" class="form-control email-form" id="inputEmail" placeholder="Subject">
    </div>
    <div class="form-group">
      <textarea ng-model="vm.email.text" class="form-control email-form" rows="7" id="textArea" placeholder="Write your message here"></textarea>
        <span class="help-block">Please be cordial and considerate of your representative's time</span>
      </div>
    <div class="form-group">
        <div ng-click="vm.sendEmail(vm.email)" type="submit" class="our-btn btn-blue">Send</div>
        <div ng-click="vm.clearForm(vm.email)" class="our-btn btn-clear">Clear</div>
        <div ng-click="vm.resetForm(vm.email)" class="our-btn btn-cancel">Cancel</div>
    </div>
	</form>
 </div>

