<div class="email-container">
	<p class="msg-intro">Send a message to<br/><span class="email-rep-name">{{vm.rep.name}}</span><br/>{{vm.rep.office.name}}</p>
	<form name="emailReps" novalidate>
      <div class="form-group" show-errors>
        <input ng-model="vm.email.from" type="email" class="form-control email-form" name="email" id="inputEmail" placeholder="Enter your Email address" required>
        <span class="help-block" ng-if="emailReps.email.$error.required">Enter a email</span>
        <span class="help-block" ng-if="emailReps.email.$error.email">Enter a valid email</span>
    </div>
    <div class="form-group" show-errors>
        <input ng-model="vm.email.subject" type="text" class="form-control email-form" name="subject" id="inputEmail" placeholder="Subject" required>
        <span class="help-block" ng-if="emailReps.subject.$error.required">Enter a subject</span>
    </div>
    <div class="form-group" show-errors>
      <textarea type="text" ng-model="vm.email.text" class="form-control email-form" name="message" rows="7" id="textArea" placeholder="Write your message here" required></textarea>
        <span class="help-block" ng-if="emailReps.message.$error.required">Enter a message</span>
      </div>
    <div class="form-group">
        <div ng-click="vm.sendEmail(email)" type="submit" class="our-btn btn-blue" pending>Send</div>
        <div ng-click="vm.resetForm()" class="our-btn btn-cancel">Cancel</div>
    </div>
	</form>
 </div>

