
<div class="state-container">

	<div class="row">
		<div class="col-sm-3">
			<img ng-src="/img/states/{{stateCtrl.state}}.jpg" class='state'>
		</div>
		<div class="col-sm-9">
			<div class="row">
				<h3 class="tier">National</h3>
				<hr class="tier-hr">
			</div>
			<div class="row">
				<h3 class="tier">State</h3>
				<hr class="tier-hr">
			</div>
			<div class="row">
				<h3 class="tier">Local</h3>
				<hr class="tier-hr">
				<input class="form-control" placeholder="add local address">
			</div>
		</div>
	</div>

</div>