<div class="state-container">
    <div class="row">
        <div class="col-sm-3 state-pic-wrapper">
            <p class="state-name">{{stateCtrl.stateName}}</p>
            <img ng-src="/img/states/{{stateCtrl.state}}.jpg" class='state'>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <h3 class="tier">National</h3>
                <hr class="tier-hr">
                <div class="row rep-wrapper" ng-repeat="rep in stateCtrl.nationalReps">
                    <div class="col-sm-2">
                        <img ng-src="{{rep.photoUrl}}" class='rep-photo'>
                        <div class="rep-initials">{{rep.initials}}</div>
                    </div>
                    <div class="col-sm-6">
                        <p class="rep-name">
                            <ng href="#">{{rep.name}}</a>
                        </p>
                        <p class="rep-data">{{rep.office.name}}</p>
                    </div>
                    <div class="col-sm-4">
                        <ul class="social-list">
                            <li ng-if="rep.emails.length > 0" class="rep-data"><a ng-href="mailto:{{rep.emails[0]}}"><i class="ion-ios7-email-outline email-icon"></i></a>
                            <li ng-if="!rep.emails" class="rep-data"><i class="ion-ios7-email-outline email-icon disabled"></i>
                            <li ng-if="rep.twitter" class="rep-data"><a href="http://twitter.com/{{rep.twitter}}" target="_blank"><i class="ion-social-twitter-outline twitter-icon"></i></a>
                            <li ng-if="!rep.twitter" class="rep-data"><i class="ion-social-twitter-outline twitter-icon disabled"></i>
                            </li>
                            <li ng-if="rep.facebook" class="rep-data"><a href="http://facebook.com/{{rep.facebook}}" target="_blank"><i class="ion-social-facebook-outline facebook-icon"></i></a>
                            </li>
                            <li ng-if="!rep.facebook" class="rep-data"><i class="ion-social-facebook-outline facebook-icon disabled"></i>
                            </li>
                            <li ng-if="rep.urls.length > 0" class="rep-data"><a href="{{rep.urls[0]}}" target="_blank"><i class="ion-ios7-world-outline website-icon"></i></a>
                            <li ng-if="rep.urls.length === 0" class="rep-data"><i class="ion-ios7-world-outline website-icon disabled"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="tier">State</h3>
                <hr class="tier-hr">
                <div class="row rep-wrapper" ng-repeat="rep in stateCtrl.stateReps">
                    <div class="col-md-2">
                        <img ng-src="{{rep.photoUrl}}" class='rep-photo'>
                        <div class="rep-initials">{{rep.initials}}</div>
                    </div>
                    <div class="col-md-6">
                        <p class="rep-name">
                            <ng href="#">{{rep.name}}</a>
                        </p>
                        <p class="rep-data">{{rep.office.name}}</p>
                    </div>
                    <div class="col-md-4">
                        <ul class="social-list">
                            <li ng-if="rep.emails.length > 0" class="rep-data"><a ng-href="mailto:{{rep.emails[0]}}"><i class="ion-ios7-email-outline email-icon"></i></a>
                            <li ng-if="!rep.emails" class="rep-data"><i class="ion-ios7-email-outline email-icon disabled"></i>
                            <li ng-if="rep.twitter" class="rep-data"><a href="http://twitter.com/{{rep.twitter}}" target="_blank"><i class="ion-social-twitter-outline twitter-icon"></i></a>
                            </li>
                            <li ng-if="!rep.twitter" class="rep-data"><i class="ion-social-twitter-outline twitter-icon disabled"></i>
                            </li>
                            <li ng-if="rep.facebook" class="rep-data"><a href="http://facebook.com/{{rep.facebook}}" target="_blank"><i class="ion-social-facebook-outline facebook-icon"></i></a>
                            </li>
                            <li ng-if="!rep.facebook" class="rep-data"><i class="ion-social-facebook-outline facebook-icon disabled"></i>
                            </li>
                            <li ng-if="rep.urls.length > 0" class="rep-data"><a href="{{rep.urls[0]}}" target="_blank"><i class="ion-ios7-world-outline website-icon"></i></a>
                            <li ng-if="rep.urls.length === 0" class="rep-data"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="tier">Local</h3>
                <hr class="tier-hr">
                <div class="row rep-wrapper" ng-repeat="rep in stateCtrl.localReps">
                    <div class="col-md-1">
                        <img ng-src="{{rep.photoUrl}}" class='rep-photo'>
                        <div class="rep-initials">{{rep.initials}}</div>
                    </div>
                    <div class="col-md-7">
                        <p class="rep-name">
                            <ng href="#">{{rep.name}}</a>
                        </p>
                        <p class="rep-data">{{rep.office.name}}</p>
                    </div>
                    <div class="col-md-4">
                        <ul class="social-list">
                            <li ng-if="rep.emails.length > 0" class="rep-data"><a ng-href="mailto:{{rep.emails[0]}}"><i class="ion-ios7-email-outline email-icon"></i></a>
                            <li ng-if="!rep.emails" class="rep-data"><i class="ion-ios7-email-outline email-icon disabled"></i>
                            <li ng-if="rep.twitter" class="rep-data"><a href="http://twitter.com/{{rep.twitter}}" target="_blank"><i class="ion-social-twitter-outline twitter-icon"></i></a>
                            </li>
                            <li ng-if="!rep.twitter" class="rep-data"><i class="ion-social-twitter-outline twitter-icon disabled"></i>
                            </li>
                            <li ng-if="rep.facebook" class="rep-data"><a href="http://facebook.com/{{rep.facebook}}" target="_blank"><i class="ion-social-facebook-outline facebook-icon"></i></a>
                            </li>
                            <li ng-if="!rep.facebook" class="rep-data"><i class="ion-social-facebook-outline facebook-icon disabled"></i>
                            </li>
                            <li ng-if="rep.urls.length > 0" class="rep-data"><a href="{{rep.urls[0]}}" target="_blank"><i class="ion-ios7-world-outline website-icon"></i></a>
                            </li>
                            <li ng-if="rep.urls.length === 0 || !rep.urls" class="rep-data"><i class="ion-ios7-world-outline website-icon disabled"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="local-lookup" ng-show="stateCtrl.localReps.length===0">
                    <input ng-model="mainCtrl.address.street" class="form-control header-input" placeholder="Address"  tabindex="0">
                    <input ng-model="mainCtrl.address.city" class="form-control header-input city-input" placeholder="City" tabindex="0">
                    <select ng-model="mainCtrl.address.state" ng-options="state.abbreviation for state in mainCtrl.stateList" placeholder="State" tabindex="0"></select>
                    <button class="submit-btn" ng-click="mainCtrl.submitAddress()" ng-keypress="($event.which === 13)?mainCtrl.submitAddress():0" tabindex='0'>Find Local Reps</button>
                </div>
            </div>
        </div>
    </div>
</div>
