@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

/*HEADER*/
header {
	padding: 15px 40px;
}
.main-title{
	position:relative;
	top: 20px;
	font-size: 5.2rem;
	color: #2EA2DA;
	display: inline-block;
	margin: 0 0 0 10px;
}
.stateship-logo {
	width: 80px;
}

.header-right {
	float: right;
}

.header-input {
	margin: 18px 20px 0 0;
	width: 300px;
}

.header-right p {
	display: inline-block;
	float: right;
	margin: 8px 23px 0 0;
	font-size: 1.8rem;
	color: #2EA2DA;
}


/*MAP*/

#mapster_wrap_0 {
  margin: 20px auto;
}

.tooltip {
  right: 500px;
  width: 550px;
  margin: 0 auto;
}
.tooltip h3 {
  text-align: center;
}
.tooltip ul {
  margin-top: 26px;
  padding: 34px 66px 20px 66px;
  border: 1px solid #ece6f9;
  border-radius: 8px;
  background-color: #f1f1f1;
}
.tooltip ul li {
  line-height: 1.5em;
}

/*STATE*/

.state {
	width: 150px;
}


/*FOOTER*/

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: rgba(210, 210, 210, 0.3);
	padding: 0 40px;
}

footer p {
	line-height: 40px;
	font-size: 1.5rem;
}




