@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

select {
	width: 80px;
	height: 35px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 10px;
	color: #2EA2DA;
}
select:focus {
  border-color: #2EA2DA;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/*HEADER*/
header {
	padding: 15px 40px;
}
.main-title{
	position:relative;
	top: 20px;
	font-size: 5.2rem;
	color: #2EA2DA;
	display: inline-block;
	margin: 0 0 0 10px;
}
.stateship-logo {
	width: 80px;
}

.header-right {
	float: right;
}

.header-input {
	margin: 48px 10px 0 0;
	width: 300px;
	display: inline-block;
}

.header-right p {
	display: inline-block;
	float: right;
	margin: 8px 23px 0 0;
	font-size: 1.8rem;
	color: #2EA2DA;
}

.submit-btn {
	text-align: center;
	line-height: 35px;
	display: inline-block;
	height: 35px;
	width: 70px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #2EA2DA;
}

.submit-btn:hover{
	background-color: #2EA2DA;
	color: #fff;
	border: 1px solid #2EA2DA;
}

/*MAP*/

.map-container {
	text-align: center;
	margin-top: 10px;
}

.show-state {
	color: #2EA2DA;
	font-size: 4rem;
	position: absolute;
	bottom: 60px;
	right: 40px;
}


/*STATE*/

.state-container {
	padding: 50px 100px;
}

.state {
	max-width: 80%;
	max-height: 200px;
}


.state-pic-wrapper {
	text-align: center;
	position: relative;
}

.state-name {
	color: #2EA2DA;
	font-weight: 200;
	font-size: 3.5rem;
	margin-top: 18px;
	margin-bottom: 25px;
}

.tier {
	color: #2EA2DA;
	font-weight: 200;
	font-size: 4rem;
}

.tier-hr {
	border-top: 1px solid #2EA2DA;
	margin-top: 0;
}


.local-lookup {
	text-align: center;
}

.local-submit-btn {
	width: 120px;
}

.local-input {
	margin: 10px 10px 50px 0;
	width: 300px;
	display: inline-block;
}

.city-input {
	width: 200px;
}

/*Rep Thumb*/

.rep-photo {
	width: 60px;
	border-radius: 4px;
}

.rep-wrapper {
	color: #868686;
	margin: 0 30px;
	padding: 10px 0;
	border-bottom: 1px solid #EFEFEF;
}

.rep-name {
	font-size: 2rem;
	margin-bottom: 0;
}

/*SOCIAL*/
.social-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.twitter-icon {
	color: #2EA2DA;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

.facebook-icon {
	color: #2EA2DA;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

.email-icon {
	color: #2EA2DA;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

.website-icon {
	color: #2EA2DA;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

.disabled {
	color: #D3D3D3;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

/*FOOTER*/

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: rgba(210, 210, 210, 0.3);
	padding: 0 40px;
}

footer p {
	line-height: 40px;
	font-size: 1.5rem;
}





