@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

select {
	width: 80px;
	height: 35px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-right: 10px;
	color: #2EA2DA;
}
select:focus {
  border-color: #2EA2DA;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


/*COMPONENTS*/
.our-btn {
	text-align: center;
	line-height: 35px;
	display: inline-block;
	height: 35px;
	width: 70px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.btn-clear {
	color: #2EA2DA;
}

.btn-clear:hover {
	background-color: #ccc;
	color: #fff;
}

.btn-cancel {
	color: #2EA2DA;
}

.btn-cancel:hover {
	background-color: #e74c3c;
	color: #fff;
	border: 1px solid #e74c3c;
}

.btn-blue {
	color: #2EA2DA;
/*	float: right;
	margin-top: 48px;*/
}

.btn-blue:hover{
	background-color: #2EA2DA;
	color: #fff;
	border: 1px solid #2EA2DA;
}

.local-submit-btn {
	width: 120px;
}

.search-form {
	display: inline-block;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.help-position {
	position: absolute;
}
/*HEADER*/
header {
	padding: 15px 40px;
}
.stateship-head {
	display: inline-block;
}
.main-title {
	position:relative;
	top: 20px;
	font-size: 5.2rem;
	color: #2EA2DA;
	display: inline-block;
	margin: 0 0 0 10px;
}
.stateship-logo {
	width: 80px;
}

.header-righto {
	float: right;
}

.header-input {
	margin: 48px 10px 0 0;
	width: 300px;
	display: inline-block;
}

.header-righto p {
	display: inline-block;
	float: right;
	margin: 8px 23px 0 0;
	font-size: 1.8rem;
	color: #2EA2DA;
}

.search-part {
	display: inline-block;
}


/*MAP*/

.map-container {
	text-align: center;
	margin-top: 10px;
}

.show-state {
	color: #2EA2DA;
	font-size: 3.5rem;
	position: absolute;
	bottom: 60px;
	right: 40px;
}

.map-gone {
	text-align: center;
	margin-top: 25px;
	display: none;
}

.map-gone p {
	color: #2EA2DA;
	font-size: 2.1rem;
}

.bounce{
	color: #2EA2DA;
	margin-bottom: 15px;
  -webkit-animation:bounce 4s infinite;
   animation:bounce 4s infinite
}

@-webkit-keyframes bounce{0%,20%,50%,80%,100%{
  -webkit-transform:translateY(0);
  transform:translateY(0)}
40%{
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px)}
60%{
  -webkit-transform:translateY(-10px);
  transform:translateY(-10px)}
}


/*STATE*/

.state-container {
	padding: 50px 100px;
}

.state {
	max-width: 80%;
	max-height: 200px;
}


.state-pic-wrapper {
	text-align: center;
	position: relative;
}

.state-name {
	color: #2EA2DA;
	font-weight: 200;
	font-size: 3.5rem;
	margin-top: 18px;
	margin-bottom: 25px;
}

.tier {
	color: #2EA2DA;
	font-weight: 200;
	font-size: 4rem;
	margin-left: 15px;
}

.tier-hr {
	border-top: 1px solid #2EA2DA;
	margin-top: 0;
}


.local-lookup {
	text-align: center;
}



.local-input {
	margin: 10px 10px 5px 0;
	width: 300px;
	display: inline-block;
}

.city-input {
	width: 200px;
}

.pointer {
	cursor: pointer;
}

.space-bottom {
	margin-bottom: 50px;
}

/*Rep Thumb*/

.rep-photo {
	width: 60px;
	border-radius: 4px;
	display: inline-block;
}

.rep-initials {
	background-color: #CCC;
	color: #fff;
	width: 60px;
	text-align: center;
	line-height: 35px;
	border-radius: 4px;
	font-weight: 200;
	font-size: 2.5rem;
}

.rep-wrapper {
	color: #868686;
	margin: 0 30px;
	padding: 10px 0;
	border-bottom: 1px solid #EFEFEF;
}

.rep-name {
	font-size: 2rem;
	margin-bottom: 0;
	margin-top: 11px;
}

/*SOCIAL*/
.social-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.twitter-icon {
	color: #2EA2DA;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

.facebook-icon {
	color: #2EA2DA;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

.email-icon {
	color: #2EA2DA;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

.website-icon {
	color: #2EA2DA;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

.disabled {
	color: #D3D3D3;
	font-size: 2.5em;
	float: left;
	display: inline;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
}

/*EMAIL FORMS*/
.email-container {
	padding: 0 50px;
	margin-top: 50px;
	margin-bottom: 80px;
	text-align: center;
}

.msg-intro {
	font-size: 2.5rem;
	color: #868686;
}

.email-rep-name {
	color: #2EA2DA;
	font-size: 3.5rem;
}

.email-form {
	max-width: 750px;
	width: 90%;
	margin: 0px auto;
}



/*FOOTER*/

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: rgba(210, 210, 210, 0.3);
	padding: 0 40px;
}

footer p {
	line-height: 40px;
	font-size: 1.5rem;
}


/* =Media Queries
-------------------------------------------------------------- */
@media (max-width: 1200px) {
	.header-input {
		width: 200px;
	}
	.city-input {
		width: 150px;
	}
	select {
		width: 50px;
	}
	.social-list i {
	padding: 10px 5px;
	}
}

/* Portrait tablets and medium desktops */
@media (max-width: 1000px) {
	.stateship-head {
		display: block;
		text-align: center;
	}
	.header-righto {
		float: none; 
		display: block;
		text-align: center;
	}
}
/* Portrait tablets and small desktops */
@media (max-width: 950px) {
	.map-container {display: none;}
	.map-gone {display: block;}
}
/* Landscape phones and portrait tablets */
@media (max-width: 675px) {
	.header-input {display: block; width: 90%; margin: 0px auto;}
	.header-righto form {margin-top: 40px;}
	.address-input {width: 205px;}
	.main-title {line-height: 20px;}
	.rep-wrapper {margin: 0;}
	.state-container {padding: 10px;}
}

/* Phones and down */
@media (max-width: 480px) {

}





